{% include 'player/player_layout.html' %}
<body>
<main class="player-strats">
<aside>

    {% for map in maps %}
    <div class="aside-content" >
        <img src="https://media.valorant-api.com/maps/{{ map.imgMap }}" alt="" class="img-strats">
        <u onclick="showCompo( {{map.idMap}} )">{{map.libelle}}</u>
    {% for item in compo %}
        {% if map.idMap == item.idMap %}
            <div class="compo-map" style="display: none;" name="{{item.idMap}}" >

                    <p>{{item.pseudo}}</p>
                <br>
                    <p>{{item.nomAgent}}</p>
            </div>
        {% endif %}
        {% endfor %}
    </div>


    {%endfor%}

</aside>
</main>

<script>            
    function showCompo(Map){
        console.log(":D →", Map)
        const divs = document.getElementsByClassName("compo-map");
        const compo = document.getElementsByName(Map);
        for (let i = 0 ; i < divs.length; i++){
            divs[i].style.display = "none";
        }
        for (let i = 0 ; i < compo.length; i++){
            compo[i].style.display = "block";
        }
    }
</script>

</body>
{% include 'layout/footer.html' %}