{% include 'player/player_layout.html' %}
<body>
<div class="roaster-body">
<table class="all-player">

  <caption>
    Tableau de tous les joueurs de DESTROY ACADEMY
  </caption>

  <thead>
    <tr>
        <th scope="col">Pseudo</th>
        <th scope="col">Role</th>
        <th scope="col"> Droit</th>
        <th scope="col">Connecté</th>
    </tr>
  </thead>

  <tbody>

    {% if roaster | length >= 1 %}
        {% for ligne in roaster %}

           <tr>
                  <td>{{ ligne.pseudo }}</td>
                  <td>{{ ligne.libelle }}</td>
                    <td>{{ligne.fonction}}</td>
                  <td>X</td>
           </tr>

        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de joueurs :C
                  </td>
           </tr>
    {% endif %}


  </tbody>

  <tfoot>
    <tr>
            <th scope="row" colspan="3">Nombre de Joueurs</th>
            <td>{{nbr_joueurs}}</td>
    </tr>
  </tfoot>
</table>

<table class="titulaire">

  <caption>
    Tableau des Titulaires de DESTROY ACADEMY
  </caption>

  <thead>
    <tr>
        <th scope="col">Pseudo</th>
        <th scope="col">Role</th>
        <th scope="col"> Droit</th>
        <th scope="col">Connecté</th>
    </tr>
  </thead>

  <tbody>

    {% if roaster | length >= 1 %}
        {% for ligne in roaster %}
        {% if ligne.titulaire == true %}
           <tr>
                  <td>{{ ligne.pseudo }}</td>
                  <td>{{ ligne.libelle }}</td>
                    <td>{{ligne.fonction}}</td>
                  <td>X</td>
           </tr>
        {% endif %}
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de joueurs :C
                  </td>
           </tr>
    {% endif %}


  </tbody>

  <tfoot>
    <tr>
            <th scope="row" colspan="3">Nombre de Joueurs</th>
            <td>{{nbr_joueurs}}</td>
    </tr>
  </tfoot>
</table>
    </div>
</body>