<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DESTROY - Accueil </title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/bootstrap.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/style.css') }}" >
    {% endblock %}
</head>
<body>
{% include 'player/player_nav.html' %}

</body>
</html>