<nav>
    <div class="nav-left">

        <a href="/player/index"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
        <a href="/roaster_show"><i class="fa-solid fa-users" style="color: #000000;"></i></a>
        <a href="/horaire/show"><i class="fa-solid fa-clock" style="color: #000000;"></i></a>
        <a href="/compo_show"><i class="fa-solid fa-users-viewfinder" style="color: #000000;"></i></a>
        <a href="/strats_show"><i class="fa-solid fa-chess-pawn" style="color: #000000;"></i></a>
    </div>
    <h2>DESTROY ACADEMY</h2>
    <div class="nav-right">

        <div class="display-log">

                {% if playersession.imgProfile == None %}
                        <i class="fa-solid fa-circle-user fa-2xl" style="color: #000000;"></i>
<!--                    <img src="{{ url_for('static', filename='assets/img/no_img.jpg') }}" alt="">-->
                {% else %}
                        <img src="{{ url_for('edit_account.image', id=playersession.idJoueur) }}" class="photo-profil">

                {% endif %}
                <em>Compte :  </em>
                <b class="b-player"><i class="fa-solid fa-gamepad fa-beat" ></i> {{playersession.pseudo}} </b>


        </div>
        <a href="/editaccount"><i class="fa-solid fa-user-pen" style="color: #000000;"></i></a>
        <a href="/logout"><i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a>

    </div>
</nav>
<input type="hidden" value="{{playersession.idUtilisateur}}">