{% include 'player/player_layout.html' %}
<body>
<main>
<table>

  <caption>
    Tableau des Compo
  </caption>

  <thead>
    <tr>
        <th></th>
        {% for ligne in titulaire %}
            <th scope="col">{{ligne.pseudo}}</th>
        {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for map in maps %}
<tr>
    <th>{{ map.libelle }}</th>
    {% for joueur in titulaire %}
        <td>
        {% for compo_entry in compo %}
            {% if map.idMap == compo_entry.idMap and joueur.idJoueur == compo_entry.idJoueur and compo_entry.nomAgent != 'None' %}
                {{ compo_entry.nomAgent }}
            {% endif %}
        {% endfor %}
        </td>
    {% endfor %}
    <td><a href="/delete_row/{{map.idMap}}" class="delete-compo"><i class="fa-solid fa-trash fa-flip-horizontal fa-xl" style="color: #000000;"></i></a></td>
</tr>
{% endfor %}




  </tbody>

  <tfoot>
    <tr>
        <th></th>
        <th scope="row" >Duelliste</th>
        <th scope="row" >Initiateur</th>
        <th scope="row" >Flex</th>
        <th scope="row" >Controlleur</th>
        <th scope="row" >Sentinelle</th>
    </tr>
  <tr>
      <th></th>
      {% for joueur in titulaire %}
        <th scope="row" ><a href="/delete_column/{{joueur.idJoueur}}" class="delete-compo"><i class="fa-solid fa-trash fa-flip-horizontal fa-xl" style="color: #000000;"></i></a></th>
      {% endfor %}

  </tr>
  </tfoot>
</table>


<form method="POST" action="/compo_edit" class="form-edit-compo">
    <fieldset>
        <div>
        <label for="Map">Map :</label>
        <select name="Map" id="Map" required>
            {% for ligne in maps %}
                <option value="{{ligne.idMap}}">{{ligne.libelle}}</option>
            {% endfor %}
        </select>
        </div>
        <div>
        <label for="Agent">Agent :</label>
        <select name="Agent" id="Agent" required>
            {% for ligne in agents %}
                <option value="{{ligne.idAgent}}">{{ligne.nomAgent}}</option>
            {% endfor %}
        </select>
        </div>
        <div>
        <label for="Joueurs">Joueur :</label>
        <select name="Joueurs" id="Joueurs">
            {% for ligne in titulaire %}
                <option value="{{ligne.idJoueur}}">{{ligne.pseudo}}</option>
            {% endfor %}
        </select>
        </div>
        <button type="submit" name="submitedit" class="submit-edit-compo">MODIFIER</button>
    </fieldset>

</form>


</main>
</body>