<nav>
    <div class="nav-left">

        <a href="/visitor/index"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
        <a href="/visitor/player_show"><i class="fa-solid fa-users" style="color: #000000;"></i></a>

        <a href="/visitor/match_show"><i class="fa-solid fa-calendar" style="color: #000000;"></i></a>

    </div>
    <h2>DESTROY ACADEMY</h2>
    <div class="nav-right">
        <p><em>connecté en tant que</em> <b>{{visitorsession.nomUtilisateur}}</b></p>
        <a href="/editaccount_visitor"><i class="fa-solid fa-user-pen" style="color: #000000;"></i></a>
        <a href="/logout"><i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a>
    </div>
</nav>