@charset "UTF-8";
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightgray);
    overflow-y: scroll; 
    /*overflow-x: hidden; */
}

table {
    background-color: var(--red);
    margin: auto;

}

thead {
    background-color: var(--white);
}
td {
    background-color: var(--lightbeige);
}

td,th {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    width: 2vw;
    height: 2vw;


}
.no-padding {
    padding: 0;

}

.yellow-td {
    border: 3px solid yellow;
}
.green-td {
    background-color: green;
}


.red-td {
    background-color: red;
}

.actions {
    text-align: left;
}

.checkbox {
    display: block;
    margin: 0 auto;
    transform: scale(2.5);
}

.player-horaire {
    display: flex;
}

.horaire-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-edit fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: fit-content;
    margin: 10vh auto 0 auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
}

.form-edit-compo fieldset{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: fit-content;
    margin: auto 50px;
}
.form-edit-compo select {
    width: 100%;
}

.delete,.remove-player {
    border: solid 2px var(--black);
    background-color: var(--lightred);
    padding: 5px;
    border-radius: 10px;
}

.edit {
    border: solid 2px var(--black);
    background-color: var(--green);
    padding: 5px;
    border-radius: 10px;
}

.add-admin {
    border: solid 2px var(--black);
    background-color: var(--lightred);
    padding: 5px;
    border-radius: 10px;
}

.add-player {
    border: solid 2px var(--black);
    background-color: var(--blue);
    padding: 5px;
    border-radius: 10px;
}

.roaster-body,.admin-map-agent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.table-map,.table-agent {
    margin: 10px auto;
}

.custom-file-upload {
  border: 1px solid #ccc;
    border-radius: 50%;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.player-compo,.visitor-games,.admin-games {
    display: flex;
    flex-direction: row;
        align-items: center;

}

.player-strats aside {
    width: fit-content;
}

.offline {
    color: var(--offline);
}

.online {
    color: var(--online);
}

.admin {
    color: var(--lightred);
}

.player {
    color: var(--blue);
}

.visitor {
    color: var(--black);
}

