@charset "UTF-8";
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightgray);
    overflow-y: scroll; 
    /*overflow-x: hidden; */
}

table {
    background-color: var(--red);
    margin: auto;

}

thead {
    background-color: var(--white);
}
td {
    background-color: var(--lightbeige);
}

td,th {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    min-width: 2vw;
    height: 2vw;


}
.no-padding {
    padding: 0;

}

.yellow-td {
    border: 3px solid yellow;
}
.green-td {
    background-color: green;
}


.red-td {
    background-color: red;
}

.actions {
    text-align: left;
}

.checkbox {
    display: block;
    margin: 0 auto;
    transform: scale(2.5);
}

.player-horaire {
    display: flex;
}

.horaire-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horaire-select {
    display: flex;
    flex-direction: column;
}

.horaire-select input {
    transform: scale(1.3);
}


.form-edit fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: fit-content;
    margin: 10vh auto 0 auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
}

.form-edit-compo fieldset{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: fit-content;
    margin: auto 50px;
}
.form-edit-compo select {
    width: 100%;
}

.delete,.remove-player {
    border: solid 2px var(--black);
    background-color: var(--lightred);
    padding: 5px;
    border-radius: 10px;
}

.edit {
    border: solid 2px var(--black);
    background-color: var(--green);
    padding: 5px;
    border-radius: 10px;
}

.add-admin {
    border: solid 2px var(--black);
    background-color: var(--lightred);
    padding: 5px;
    border-radius: 10px;
}

.add-player {
    border: solid 2px var(--black);
    background-color: var(--blue);
    padding: 5px;
    border-radius: 10px;
}

.roaster-body,.admin-map-agent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.table-map,.table-agent {
    margin: 10px auto;
}

.custom-file-upload {
  border: 1px solid #ccc;
    border-radius: 50%;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.player-compo,.visitor-games,.admin-games {
    display: flex;
    flex-direction: row;
        align-items: center;

}

.compo-map {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-strats aside {
    width: fit-content;
}

.offline {
    color: var(--offline);
}

.online {
    color: var(--online);
}

.admin {
    color: var(--lightred);
}

.player {
    color: var(--blue);
}

.visitor {
    color: var(--black);
}

.aside-content {
    border: 2px solid black;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    position: relative;

}


.aside-content u {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom:10px;
    font-size: x-large;
    color: var(--white);
    font-weight: bolder;
}


.player-index-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.article-player-index {
    border: 2px solid black;
    background-color: var(--lightbeige);
    max-width: 400px;
    padding: 15px 15px 15px 35px;


}

.article-player-index h2 {
    margin-bottom: 10px;
}

.article-player-index {
    height: fit-content;
}

.compo-td {
    padding: 0;
}

.edit-index-player {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
}

.admin-patch, .admin-discord {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}
textarea {
    border: var(--black) 2px solid;
    border-radius: 5px;
}

.patch,.discord {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.valid-edit {
    padding: 10px 20px ;
    border-radius: 15px;
    grid-area: 2 / 1 / 3 / 3;
}

.table-log {
    margin: auto;
}