@charset "UTF-8";
nav {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: var(--black);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    padding: 5px;
    border: 2px solid var(--black);
    border-radius:25px ;

}

nav a:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

h2 {
    margin: 0;
    text-align: center;
    min-width: 250px;
}


.nav-left,.nav-right {
    display: flex;
    flex-direction: row ;
    gap: 10px;
    max-width: 450px;
}

.nav-right a,.nav-left a {
    background-color: var(--lightgray);
    color: var(--red);
    width: fit-content;
    height: fit-content;
}


.nav-left {
    justify-content: left;
}
.nav-right {
    justify-content: right;
}


.b-admin {
    color: var(--lightred);
}

.b-player {
    color: var(--blue);
}

.black {
    color: var(--black);
}

.display-log {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px ;
}