{% include 'admin/admin_layout.html' %}
<body>
<div class="admin-map-agent">
    <table class="table-map">

        <caption>
            Tableau des Maps
        </caption>

        <thead>
<!--        <tr>-->
<!--            <th colspan="4">AJOUTER-->
<!--                <a href="/admin/maps_add">-->
<!--                    <i class="fa-solid fa-circle-plus" style="color: #000000;"></i>-->
<!--                </a>-->
<!--            </th>-->
<!--        </tr>-->
        <tr>
            <th>ID MAPS</th>

            <th>IMG</th>
<th>NOM</th>

        </tr>
        </thead>

        <tbody>
        {% for map in maps %}
        <tr>
            <td>{{ map.idMap }}</td>

            <td><img src="https://media.valorant-api.com/maps/{{ map.imgMap }}" alt="" class="img-map-admin"></td>
 <td>{{ map.libelle }}</td>
<!--            <td>-->
<!--                <a href="/admin/maps_edit/{{map.idMap}}" class="edit"><i class="fa-solid fa-pen-to-square"-->
<!--                                                                         style="color: #000000;"></i></a>-->
<!--                <a href="/admin/maps_delete/{{map.idMap}}" class="delete"><i class="fa-solid fa-trash"-->
<!--                                                                             style="color: #000000;"></i></a>-->
<!--            </td>-->

        </tr>
        {% endfor %}


        </tbody>


    </table>

    <table class="table-agent">

        <caption>
            Tableau des Agents
        </caption>

        <thead>
<!--        <tr>-->
<!--            <th colspan="30">AJOUTER-->
<!--                <a href="/admin/agents_add">-->
<!--                    <i class="fa-solid fa-circle-plus" style="color: #000000;"></i>-->
<!--                </a>-->
<!--            </th>-->
<!--        </tr>-->
        <tr>
            <th>ID AGENT</th>

            <th>IMAGE</th>
            <th>NOM</th>
        </tr>
        </thead>

        <tbody>


            <td colspan="30">
                L'ID 1 est utilisé pour None
            </td>

        </td>

        {% for agent in agents %}
        {% if agent.nomAgent != 'None'%}
        <tr>

            <td>{{ agent.idAgent}}</td>


            <td><img src="https://media.valorant-api.com/agents/{{ agent.imgAgent }}" alt="" class="img-agent-admin"></td>
<td>{{ agent.nomAgent }}</td>
        </tr>
        {% endif %}
        {% endfor %}


        </tbody>


    </table>
</div>
</body>
{% include 'layout/footer.html' %}