.edited{
    background-color: var(--flash-edit) ;
    padding: 5px;
    margin : 5px;
}

.deleted{
    background-color: var(--flash-delete);
    padding: 5px;
    margin : 5px;
}

.add {
    background-color: var(--flash-add);
    padding: 5px;
    margin : 5px;
}
