{% include 'admin/admin_layout.html' %}
<body onload="fetchData()">
<main>
<p>test js fdp</p>


<ul>

</ul>
</main>
</body>
<!--<table id="data-table">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Nom</th>-->
<!--            <th>Description</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody id="table-body">-->
<!--        &lt;!&ndash; Les données seront ajoutées ici dynamiquement &ndash;&gt;-->
<!--    </tbody>-->
<!--</table>-->