<nav>
    <div class="nav-left">
        <a href="/nologin/index"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
    </div>
    <h2>DESTROY ACADEMY</h2>
    <div class="nav-right">
        <a href="/login"><i class="fa-solid fa-circle-user fa-lg" style="color: #000000;"></i></a>
        <a href="/signup"><i class="fa-solid fa-user-plus" style="color: #000000;"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-solid fa-key"
                                                                 style="color: #000000;"></i></a>
    </div>
</nav>