<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DESTROY - Connexion</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icones/favicon.ico') }}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="{{ url_for('static', filename='src/js/script.js') }}"></script>
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/style.css') }}" >

    {% endblock %}
</head>
<body>
{% include 'nologin/nologin_nav.html' %}


    {% block body %}
<!--        <h1>Bienvenue a toi jeune Joueur</h1>-->

<!--        <img class="img-layout" src="{{ url_for('static', filename='assets/img/Logo_Destroy.png') }}">-->

<!--        <a href="/base/init">init.</a>-->

    {% endblock %}







</body>
</html>
