{% include 'nologin/nologin_layout.html' %}
{% block body %}
<body>

<!--<div class="carrousel">-->

<!--    <div class="imgslide">-->

<!--        <img class="show" src="{{ url_for('static', filename='assets/img/carrousel-1.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-2.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-3.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-4.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-5.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-6.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-7.png') }}" alt="">-->


<!--        <button id="g" class="LeftArrow" onclick="SlidePrecedent()"><i class="fa-solid fa-angle-left fa-2xl"-->
<!--                                                                       style="color: #000000;"></i></button>-->
<!--        <button id="d" class="RightArrow" onclick="SlideSuivant()"><i class="fa-solid fa-angle-right fa-2xl"-->
<!--                                                                      style="color: #000000;"></i></button>-->

<!--    </div>-->


<!--</div>-->

<!--<div class="slider-container">-->
<!--    <div class="slider">-->
<!--        <img class="show" src="{{ url_for('static', filename='assets/img/carrousel-1.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-2.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-3.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-4.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-5.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-6.png') }}" alt="">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-7.png') }}" alt="">-->
<!--        <img class="show" src="{{ url_for('static', filename='assets/img/carrousel-1.png') }}" alt="">-->
<!--    </div>-->
<!--</div>-->


<!--<div class="slider-1" >-->
<!--      <div class="slider-content-1" id="container">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-5.png') }}" alt="" id="slide-old">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-1.png') }}" alt="" id="slide">-->
<!--        <img src="{{ url_for('static', filename='assets/img/carrousel-2.png') }}" alt="" id="slide-new">-->

<!--      </div>-->

<!--            <button id="previous" onclick="ChangeSlide(-1)">&lt;</button>-->
<!--            <button id="next" onclick="ChangeSlide(1)">&gt;</button>-->



<!--    </div>-->





</body>
{% endblock %}

{% include 'layout/footer.html' %}