:root {
    --red: #470303;
    --lightred: #d35a5a;
    --black:#090101;
    --white:#FEE8DA;
    --lightbeige:#D9C6B0;
    --lightgray:#EBEBEB;
    --green: #00b402;
    --blue: #0088e0;
    --online: #009600;
    --offline: #960000;

    --flash-edit: rgba(0, 255, 1, 0.25);
    --flash-delete: rgba(255, 0, 0, 0.25);
    --flash-add: rgba(255, 255, 0, 0.25);
}